#meniu {
    width: 100%;
    background-color: #141414;
    /*color: #ffffff;*/
    padding: 7px 30px 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
}
.top a {
    text-decoration: none;
    color: #d1d1d1;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 10px 0;
    /*font-variant: all-petite-caps;*/
}

#meniu div {
    padding: 0 70px 0 0;
}

h1 {
    color: #ffffff;
    font-size: 35px;
    font-family: Verdana, "BankGothic Md BT", sans-serif;
    text-align: center;
    text-transform: uppercase;
    /*text-shadow: 3px 2px gray;*/
    font-weight: bold;
    padding: 40px 0 7px;
    /*padding-top: 35px;*/
    background-color: #212121;
}

p{
    text-align: justify;
    margin: 5px;
}
footer {
    border-top: 1px solid #010101;
    display: flex;
    align-items: flex-end;
    color: #b3b3b3;
    background-color: #222222;
    font-size: 12px;
    justify-content:space-between;
}
footer nav{
    size: 8px;
    padding: 10px 10px 3px;
}
footer span {
    padding: 10px 10px 3px;
}
footer a {
    text-decoration: none;
    color: #d1d1d1;
    padding: 0 10px;
}