.container *{
    /*overflow: hidden;*/
    /*display: flex;*/
    align-content: space-evenly;
    /*margin: 20px 5px 5px;*/
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    /*height: 200px;*/
    /*width: 100%;*/
    padding: 10px;
}
.container img{
    height: 270px;
    width: 300px;
}
#filtras{
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}
#filtras a {
    text-transform: uppercase;
    font-weight: bold;
    border: solid 1px #010101;
    /*background-color: #f1f1f1;*/
    cursor: pointer;
    padding: 9px 12px;
    text-decoration: none;
}

.filterDiv img {
    padding: 5px;
}

.filterDiv {
    float: left;
    /*background-color: #2196F3;*/
    /*color: #ffffff;*/
    /*width: 100px;*/
    /*line-height: 100px;*/
    /*text-align: center;*/
    margin: 2px;
    /*display: none; !* Hidden by default *!*/
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: #2196F3;
    color: white;
}
.pagination{
    display: none;
    text-align: center;

}
