body {
    width: 1080px;
    border: 1px solid darkgray;
    background-color: #343434;
    margin: auto;
}
header{
    background-color: #444444;
    color: #ffffff;
}
h1 {
    color: #ffffff;
    size: 100px;
    font-family: Verdana, "BankGothic Md BT", sans-serif;
    text-align: center;
    text-transform: uppercase;
    /*text-shadow: 3px 2px gray;*/
    font-weight: bold;
}
.content header{
    background-color: #6e6e6e;
}
main {
    background-color: #6e6e6e;
}
footer{
    color: #b3b3b3;
    background-color: #444444;
}
a{
    color: #d1d1d1;
}